
@model WebApplication2.ViewModel.BookView
<link href="~/Content/style.css" rel="stylesheet" />

<div class="btn_create">
    @Ajax.ActionLink("Создать книгу", "Edit", new { id = 0 }, new AjaxOptions { UpdateTargetId = "book" })
</div>

@{
    ViewBag.Title = "Index";
    List<WebApplication2.ViewModel.BookView> authors = ViewBag.Books;
}


@Html.Partial("ViewBook", Model)


