body {
}


#sort{
    width: 150px;
    margin-bottom:20px;
}

select {
    height: 20px;
    padding: 5px 12px 6px 12px;
    border-radius: 4px;
    box-sizing: content-box;
    width: 250px;
    
}

.debtor {
  
    margin:20px 0 20px 50px;
    display:inline-block;
}


.btn_create
{
       margin-top:20px;
       margin-bottom:20px;
}

a{
    color:darkslateblue;
}