<link href="~/Content/style.css" rel="stylesheet" />

<table class="table table-stripped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in ViewBag.Authors)
            {
            <tr>
                <th scope="row">@item.LastName</th>
                <th scope="row">@item.FirstName</th>

                <td>@Ajax.ActionLink("Edit", "Edit", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "edit_author" })</td>
                <td>@Ajax.ActionLink("Delete", "Delete", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "delete_author" })</td>
            </tr>

        }
    </table>
