@using WebApplication2.Entities

<div>
    <h4>Orders</h4>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Автор</th>
                <th scope="col">Книга</th>
            </tr>
        </thead>

        @foreach (var item in ViewData["BookList"] as List<Orders>)
        {
            <tr class="dl-horizontal">

                <td>
                    @Html.DisplayFor(modelItem => @item.BookName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => @item.AuthorName)
                </td>

            </tr>
        }
    </table>
</div>

